

.introScene {
  position: fixed;

  height: 100%;
  width: 100%;

  margin-top: 10rem;

  background-color: teal;
}

.sceneContainer {
  position: fixed;

  height: 100%;
  width: 100%;

  margin-top: 10rem;

  background-color: teal;

}

.buttonGroup {
  justify-content: center;
}